#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* LIST VIEW */
.list-panel {
  display: flex;
  flex-flow: row nowrap;
}

.list-item {
  display: flex;
  border: thin white solid;
  flex-flow: column nowrap;
}

.round-container {
  padding: 2rem 0;
}

.round-container h1 {
  font-size: 24px;
  padding: 0 4.5rem;
  cursor: pointer;
}

.content { 
  display: none;
}
.content:active {
  display: block;
}



