:root {
  --calendar-bg-color: #787878;
  --calendar-aux-color: #292929;
  --calendar-main-color: #ebc04b;
  --border: thin white solid;
  --font-color: white;
}

#root {
  text-align: center;
}


/* APP COMPONENTS */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header .nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border: blue thin solid;
}
/* PANEL COMPONENT */
.panel {
  overflow: auto;
}
/* LIST VIEW */
#list-panel {
  margin: auto;
  display: grid;
  max-width: 1240px;
  grid-template-columns: 1fr 1fr 1fr;
}

#list-panel .list-item {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  border: var(--border);
}

.round-container {
  padding: 2rem 0;
}

.round-container h1 {
  font-size: 24px;
  padding: 0 4.5rem;
  text-align: center;
  cursor: pointer;
}
.round-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round-container ul li { 
  text-align: left;
}
.content { 
  display: none;
}
.content:active {
  display: block;
}
/* -------------- */

/* CALENDAR VIEW */
#calendar-view {
/*   display: flex;
  flex-direction: column;
  justify-items: center; */
  padding: 20px;
  max-width: 450px;
  margin: 30px auto;
  border: var(--border);
  border-radius: 18px;
  /* poisition: relative; 
  overflow: hidden; */
}
#calendar-view .calendar-header {
  display: flex;
  padding: 10px;
  padding-bottom: 16px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
}
#calendar-view .calendar-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color);
}
#calendar-view .calendar-day-name,
#calendar-view .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}
#calendar-view .calendar-day-name {
  font-size: 20px; 
  font-weight: 600;
}
#calendar-view .calendar-dates-day {
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  padding: 10px;
}
#calendar-view .calendar-button-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
#calendar-view #prevMonth,
#calendar-view #nextMonth,
#calendar-view #today {
  padding: 2px 6px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
}

/* TABLE VIEW */
#table-view {
  display: flex;
  justify-content: center;
  padding: 3em;
}
#table-view table {
  padding: 1em 0 0;
  border: var(--border);
  border-radius: 18px;
}
#table-view table td { 
  border: #AAAAAA 1px solid;
}
#participants {
  font-weight: 700;
} 



