:root {
  --border: thin white solid;
  --font-color: white;
}

#root {
  text-align: center;
  background-color: var(--bg-color);
}


/* APP COMPONENTS */
.header {
  background-color: var(--bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header .nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border: blue thin solid;
}
.header .title h1 {
  margin-top: 0;
}
/* PANEL COMPONENT */
.panel {
  overflow: auto;
}
/* LIST VIEW */
#list-panel {
  margin: auto;
  display: grid;
  margin: 20px auto;
  max-width: 1240px;
  grid-template-columns: 1fr 1fr 1fr;
}

#list-panel .list-item {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  border: var(--border);
}

.round-container {
  padding: 2rem 0;
}

.round-container h1 {
  font-size: 24px;
  padding: 0 4.5rem;
  text-align: center;
  cursor: pointer;
}
.round-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round-container ul li { 
  text-align: left;
}
.content { 
  display: none;
}
.content:active {
  display: block;
}
/* -------------- */

/* CALENDAR VIEW */
#calendar-view {
  padding: 20px;
  max-width: 450px;
  margin: 20px auto;
  border: var(--border);
  border-radius: 18px;
}
#calendar-view .calendar-header {
  display: flex;
  padding: 10px;
  padding-bottom: 16px;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 12px;
}
#calendar-view .calendar-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--font-color);
}
#calendar-view .calendar-day-name,
#calendar-view .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}
/* Week days */
#calendar-view .calendar-day-name {
  font-size: 20px; 
  font-weight: 600;
}
/* Days */
#calendar-view .calendar-dates-day {
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  padding: 10px;
}
#calendar-view .calendar-dates-day-empty {
  background: none;
  border: none;
  border-radius: 4px;
}
#calendar-view .calendar-dates-day.active{ 
  background: red;
}
#calendar-view .calendar-dates-day-empty.active {
  background: rgb(255, 0, 0, 0.25);
}
/* Controls */
#calendar-view .calendar-button-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
#calendar-view #prevMonth,
#calendar-view #nextMonth,
#calendar-view #today {
  padding: 2px 6px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
}
/*  */
/* TABLE VIEW */
#table-view {
  margin: 20px auto;
  max-width: 1240px;
}
#table-view .table-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-height: 500px;
}
#table-view .table-row {
  flex: 1 1 33%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px 100px 50px;
}
#table-view .table-cell {
  border: white thin solid;
}
#participants {
  font-weight: 700;
} 



